* {
  margin: 0;
  padding: 0;
}

#footer {
  width: 100vw;
  background-color: blue;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-sosmed {
  display: flex;
  list-style: none;
  font-size: 30px;
}
.icon-sosmed a {
  margin: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}
